.connect
{
    background-image:linear-gradient(rgb(255, 251, 192),rgb(235, 135, 135)) ;
    height: 60vh;
    width: 20%;
    margin-top: 50px;
    position: fixed;
    right: 70px;
    border-radius: 20px 0 20px 20px;
    border:2px solid black;
    box-shadow: 0 0 10px pink;
}

.connect-out-button
{
    height: 50px;
    width: 60px;
    color: white;
    font-size: 30px;
    background: none;
    border:0;
}
.connect-out-button:hover
{
    background-color: rgb(88, 86, 196);
    cursor: pointer;
}
.connect-head
{
    height: 70px;
    color:black;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    padding-top: 20px;
}

.connect-form
{
    display: grid;
    grid-template-columns: auto;
    height:50vh;
    background-size: contain;
}

.connect-form label
{
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    height: 50px;
}


.connect-input 
{
    margin-left: 10%;
    margin-right: 10%;
    border:0;
    background: none;
    height: 35px;
    border-bottom: 2px solid black;
    font-size: 17px;
    transition: 0.3s linear;
}

.connect-input::placeholder
{
    color: white;
    opacity: 0.6;
}
.connect-input:focus
{
    outline: none;
    padding-bottom: 15px;
}


.send-connect
{
    margin-top: 30px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    font-size: 20px;
    height: 50px;
    border:0;
    background: none;
    color:white;
    background-color: rgb(88, 86, 196);
}

.send-connect:hover
{
    cursor: pointer;
    box-shadow: 0 0 10px black;
}


@media screen and ( max-width:1380px) {
    .connect
    {
        width: 25vw;
        height: 65vh;
        right:70px;
    }
}




@media screen and ( max-width:1100px) {
    .connect
    {
        width: 50vw;
        height: 65vh;
        right:70px;
    }
}


@media screen and ( max-width:800px) {
    .connect
    {
        width: 60vw;
        height: 65vh;
        right:70px;
    }
}



@media screen and ( max-width:600px) {
    .connect
    {
        width: 80vw;
        height: 65vh;
        right:20px;
    }
}


