*
{
    scroll-behavior: smooth;
}
.circle
{
    content: '';
    width: 300px;
    height: 200px;
    position: absolute;
    background: linear-gradient(rgb(90, 90, 236),rgb(90, 90, 236));
    border-radius: 50%;
    top:-80px;
    left:-50px;
    box-shadow: 0 0 10px black;
}
.columns-landing
{
    position: relative;
    margin-left:80px ;
}

.text-head
{
    font-weight: 900;
    font-size: 45px;
    font-family: 'Calistoga', cursive;
    
}
.change-color
{
    color:rgb(90, 90, 236);
    text-shadow: 1px 1px black;
}

.join-button
{
    border: 0;
    background: none;
    background-color:rgb(146, 18, 78);
    height: 50px;
    width: 150px;
    font-size: 20px;   
    color:white;
    margin-top: 20px;
    font-weight: 800;
    border-radius: 10px 0 10px 0;
    transition: 0.5s linear;
    font-family:freestyle;
}
.join-button:hover
{
    cursor: pointer;
    box-shadow: 0 0 15px black;
}
.columns-landing-1
{
    margin-top: 35px;
}
.columns-landing
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.shift
{
    margin-top: 120px;
}

.columns-landing-2
{
    background-color:rgb(90, 90, 236);
    height: 100vh;
    box-shadow:  0 0 15px black;
}

.image1-out
{
    background-color:rgb(169, 255, 251);
    border-radius: 10px;
    margin: 50px;
    margin-top: 180px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px black;
}

.image1
{
    height: 300px;
    width: 500px;
    margin-left:65px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.image1-head
{
    color:black;
    font-size: 36px;
    font-weight: 800;
    padding: 30px;
    text-shadow: 2px 2px white; 
    font-family: freestyle; 
}


.login-from-landing,.register-from-landing
{
    border:0;
    background-color:rgb(146, 18, 78);
    height: 50px;
    width: 120px;
    margin-right: 20px;
    float: right;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-left: 25px;
    padding-top: 10px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s linear;
    font-family: 'Cherry Swash', cursive;
}
.columns-landing-2 div a,.landing-2 div a
{
    text-decoration: none;
}

.login-from-landing:hover,.register-from-landing:hover
{
    cursor: pointer;
    box-shadow:0 0 15px black;
    width: 130px;
    color:springgreen
}


.style 
{
    margin-top: 10px;
    padding: 20px;
}
.style div
{
    border-left: 10px solid rgb(90, 90, 236);
    margin: 10px;
    padding: 20px;
    transition: 0.5s linear ;
    font-size: 16px;
    font-weight: 700;
}

.style div:hover
{
    border-left: 30px solid rgb(90, 90, 236);
}

.theme-change
{
    border:none;
    background: none;
    margin-left: 90%;
    margin-top: -100px;
    font-size: 30px;
    outline: none;
    cursor: pointer;   
    transition: 0.4s linear; 
}

.fa-cloud-sun
{
    color:orange;
}
.fa-cloud-moon
{
    color:rgb(88, 65, 218)
}
.theme-change:hover
{
    opacity: 0.6;
}
.contact-landing img
{
    height: 300px;
    margin-right: 50px;
}
.contact-landing
{
    background: rgb(146, 18, 78);
    box-shadow: 0 0 20px black;
    width: 99.6vw;
    margin-top:20px;
}

.contact-up
{
    display: flex;
    color:white;
    margin-left: 25%;
    padding: 30px;
    padding-bottom: 150px;
    padding-top: 150px;
}

.contact-text
{
    margin-top: 5%;
}

.contact-text-head
{
    font-size: 30px;
    font-weight: 700;
    
}
.contact-text-main
{
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Merienda One', cursive;
}
.contact-email
{
    font-size: 15px;
    background-color:cyan ;
    color:black;
    padding:15px;
    border-radius: 20px;
    width: 230px;
    margin-top: 30px;
    font-weight: 600;
}

.about-landing
{
    background-color:rgb(234, 234, 238);
    margin-top: 20px;
    box-shadow: 0 0 20px black;
}
.about-head
{
    margin-left: 25%;
    font-size: 45px;
    font-weight: 600;
    
}
.about-main
{
    margin-left: 25%;
    margin-right: 15%;
    margin-top: 2%;
}

.about-main span
{
    font-size: 35px;
    font-family: 'Pattaya', sans-serif;
    margin-top: 50px;
}
.about-main
{
    font-size: 20px;
    
}
.about-outer
{
    padding:100px;
    padding-top:170px;
    padding-bottom: 170px;
}
.about-outer img
{
    width:200px;
    height:50px;
    margin-left: 5%;
}
.set-about
{
    display: flex;
}
.landing-footer
{
    background-color:rgb(90, 90, 236);
    box-shadow: 0 0 10px black;
}
.footer-outer
{
    padding:30px;
    margin-left: 35%;
    color:white;
}
.connect-landing-outer
{
    display:flex;
    padding:50px;
    padding-top:140px;
    padding-bottom:140px;
}
.connect-landing
{
    margin-top: 10px;
}
.connect-landing-outer img
{
    width: 50vw;
}
.connect-head-in
{
    color:white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    
    
}
.connect-landing
{
    background-color:rgba(89,95,169,255) ;
}
.connect-main
{
    color: white;
    margin-top: 60px;
}
.connect-main-text
{
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}








.logo
{
    height: 65px;
    width: 80px;
    margin-right: 20px;
}



.container-outside
{
    background-color:black ;
}
.dark-circle
{
    content: '';
    width: 300px;
    height: 200px;
    position: absolute;
    background: linear-gradient(rgb(235, 32, 143),rgb(90, 90, 236));
    border-radius: 50%;
    top:-80px;
    left:-50px;
    box-shadow:  0 0 10px white;
}

.dark-landing
{
    position: relative;
    margin-left:80px ;
}

.dark-text-head
{
    font-weight: 900;
    font-size: 45px;
    font-family: 'Calistoga', cursive;
    color:white;
}
.dark-change-color
{
    color:rgb(202, 19, 105);
}

.dark-join-button
{
    border: 0;
    background: none;
    background-color:rgb(235, 235, 14);
    height: 50px;
    width: 150px;
    font-size: 20px;   
    margin-top: 20px;
    font-weight: 600;
    border-radius: 10px 0 10px 0;
    transition: 0.5s linear;
    font-family:freestyle;
}
.dark-join-button:hover 
{
    cursor: pointer;
    box-shadow:0 0 15px rgb(255, 250, 250);
}

.dark-landing
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.shift
{
    margin-top: 70px;
}

.landing-1
{
    margin-top: 35px;
}
.landing-2
{
    background-color:rgb(255, 250, 250);
    height: 100vh;
    box-shadow:  0 0 10px white;
}

.dark-image1-out
{
    background-color:rgb(202, 19, 105);
    border-radius: 10px;
    margin: 50px;
    margin-top: 180px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px rgb(15, 15, 15);
}

.image1
{
    height: 300px;
    width: 500px;
    margin-left:65px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.dark-image1-head
{
    color:black;
    font-size: 36px;
    font-weight: 800;
    padding: 30px;
    font-family: freestyle; 
}


.dark-login,.dark-register
{
    border:0;
    background-color:rgb(146, 18, 78);
    height: 50px;
    width: 120px;
    margin-right: 20px;
    float: right;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 25px;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.5s linear;
    font-family: 'Cherry Swash', cursive;
}

.dark-login:hover,.dark-register:hover
{
    cursor: pointer;
    box-shadow:0 0 15px rgb(255, 250, 250);
    width: 130px;
}

.dark-style 
{
    margin-top: 10px;
    padding: 20px;
}
.dark-style div
{
    border-left: 10px solid cyan;
    margin: 10px;
    padding: 20px;
    transition: 0.5s linear ;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.dark-style div:hover
{
    border-left: 30px solid cyan;
}

.dark-contact-landing img
{
    height: 300px;
    margin-right: 50px;
}
.dark-contact-landing
{
    background: rgb(254, 255, 190);
    box-shadow: 0 0 20px black;
    margin-top:20px;
    width: 99.6vw;
}

.contact-up
{
    display: flex;
    color:white;
    margin-left: 25%;
    padding: 30px;
    padding-bottom: 150px;
    padding-top: 150px;
}

.contact-text
{
    margin-top: 5%;
}

.dark-contact-text-head
{
    font-size: 30px;
    font-weight: 700;
    color: black;
    
}
.dark-contact-text-main
{
    font-size: 20px;
    margin-top: 20px;
    color: black;
    font-family: 'Merienda One', cursive;
}
.dark-contact-email
{
    font-size: 15px;
    background-color:rgb(146, 18, 78);
    color:white;
    padding:15px;
    border-radius: 20px;
    width: 230px;
    margin-top: 30px;
    font-weight: 600;
}

.dark-about-landing
{
    background-color:rgb(234, 234, 238);
    margin-top: 20px;
    box-shadow: 0 0 20px black;
}
.dark-about-head
{
    margin-left: 25%;
    font-size: 45px;
    font-weight: 600;
}
.dark-about-main
{
    margin-left: 25%;
    margin-right: 15%;
    margin-top: 2%;
}

.dark-about-main span
{
    font-size: 35px;
    font-family: 'Pattaya', sans-serif;
}
.dark-about-main
{
    font-size: 20px;
}
.dark-about-outer
{
    padding:100px;
    padding-top:170px;
    padding-bottom: 170px;
    color:white;
}
.dark-about-outer img
{
    width:200px;
    height:50px;
    margin-left: 5%;
}
.dark-set-about
{
    display: flex;
}
.dark-landing-footer
{
    background-color:rgb(90, 90, 236);
    box-shadow: 0 0 10px black;
}
.dark-footer-outer
{
    padding:30px;
    margin-left: 35%;
    color:white;
}
.dark-connect-landing-outer
{
    display:flex;
    padding:50px;
    padding-top:140px;
    padding-bottom:140px;
}
.dark-connect-landing
{
    margin-top: 20px;
}
.dark-connect-landing-outer img
{
    width: 50vw;
}
.dark-connect-head-in
{
    color:white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.dark-connect-landing
{
    background-color:rgba(89,95,169,255) ;
}
.dark-connect-main
{
    color: white;
    margin-top: 60px;
}
.dark-connect-main-text
{
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.join
{
    font-size: 20px;
    border:0;
    border:2px solid rgb(8, 8, 8);
    padding:8px;
    border-radius: 10px;
    margin-right: 20px;
    width: 200px;
}
.join:focus
{
    outline: none;
    box-shadow: 0 0 10px rgb(90, 90, 236);
    border:0;
}

.join::placeholder
{
    font-family: monospace;
}


@media only screen and (max-width:1450px) {
    .image1
    {
        height: 350px;
        width: 550px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 600px) {

    .columns-landing,.dark-landing
    {
        display: grid;
        grid-template-columns: auto;
        margin-left:20px;
    }
    
    .text-head,.dark-text-head
    {
        font-size: 20px;
    }
    .theme-change
    {
        margin-left:250px;
    }
    .image1
    {
        height: 150px;
        width: 250px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .columns-landing-2,.landing-2
    {
        height: 350px;
        margin-right: 10px;
    }
    .image1-out,.dark-image1-out
    {
        margin: 10px;
        padding:10px;
        height:320px;
    }   
    .image1-head,.dark-image1-head
    {
        font-size: 20px;
        margin-top: 20px;
    }
    .login-from-landing,.register-from-landing,.dark-login,.dark-register
    {
        height: 40px;
        width: 90px;
        padding-left: 15px;
        font-size: 15px;
        margin-right: 10px;
    }
    .contact-up
    {
        display: grid;
        grid-template-columns: auto;
        margin-left: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
   
    .about-head,.dark-about-head
    {
        margin-left: 10px;
        font-size: 30px;
    }
    .about-main,.dark-about-main
    {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
    }
    .about-main span,.dark-about-main span
    {
        font-size: 20px;
    }
    
    .about-outer,.dark-about-outer
    {
        padding: 25px;
        padding-bottom: 100px;
        padding-top:100px;
    }
    .set-about
    {
        display: grid;
        grid-template-columns: auto;
    }
    .footer-outer,.dark-footer-outer
    {
        margin-left: 10px;
    }
    .connect-landing-outer,.dark-connect-landing-outer
    {
        display: grid;
        grid-template-columns: auto;
        padding: 15px;
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .connect-landing-outer img,.dark-connect-landing-outer img
    {
        width: 90vw;
    }
    .join
    {
        margin-top: 20px;
    }
    .contact-up img
    {
        width: 80vw;
    }
    .contact-text-main,.dark-contact-text-main
    {
        font-size: 15px;
    }
}
