.meeting-details
{
    color:white;
    font-size: 18px;
}

.meeting-details button  i
{
    font-size: 25px;
    margin-left: 20px;
}
.meeting-details button
{
    border: 0;
    font-size: 18px;
    padding: 15px;
    width: 100%;
    background: none;
    height: 100%;
    color: white;
}
.meeting-hide
{
    display: none;
}
.meeting-details button:hover
{
    background: rgb(30,30,30);
    cursor: pointer;
}

.meeting-expand
{
    position: fixed;
    bottom: 76px;
    background-color:royalblue ;
    padding: 25px;
    margin-left: -100px;
}
.meeting-head
{
    font-size: 25px;
    font-weight: 600;
}
.meeting-id
{
    font-size: 20px;
    margin-top: 10px;
}
.meeting-id span
{
    font-weight: 700;
}

@media  screen and ( max-width:600px) {
    .meeting-details
    {
        display: none;
    }
}