.Room
{
    background-color: rgb(227, 231, 229);
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.room-container
{
    display: flex;
}

.video
{
    margin-top:10px;
    height: 250px;
    width: 332px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.video-name
{
    background: black;
    color:white;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-right: 200px;
}
.screen
{
    height: 90%;
    width: 93%;
    border-radius: 10px;
}
.columns
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95vw;
    padding-left:10px;
    padding-bottom: 10px;
    margin-bottom: 140px;
}
.columns-open
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 65vw;
    margin-right: 20vw;
    padding-top:20px;
    padding-left:20px;
    margin-bottom: 140px;
}
.columns div
{
    margin-top: 10px;
    margin-left: 10px;
}






.dark-Room
{
    background-color: rgb(62, 63, 62);
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.dark-room-container
{
    display: flex;
}

.dark-video
{
    margin-top:10px;
    height: 250px;
    width: 332px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.dark-screen
{
    height: 90%;
    width: 93%;
    border-radius: 10px;
}
.dark-columns
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95vw;
    padding-left:10px;
    padding-bottom: 10px;
    margin-bottom: 140px;
}
.dark-columns-open
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 65vw;
    margin-right: 20vw;
    padding-top:20px;
    padding-left:20px;
    margin-bottom: 140px;
}
.dark-columns div
{
    margin-top: 10px;
}


.alert-outer-raise
{
    position: fixed;
    margin-left: 50px;
    bottom: 100px;
    width:300px;
    color:black;
    background-color:rgb(255, 221, 148);
    padding:20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 0 10px salmon;
}

.hide
{
    display: none;
}



.single div .video,.single div .dark-video
{
    height: 530px;
    width: 705px;
}
.double div .video,.double div .dark-video
{
    height:400px;
    width: 533px;
}
.double-open div .video,.double-open div .dark-video
{
    height:295px;
    width: 390px;
}
.triple div .video,.triple div .dark-video
{
    height:290px;
    width: 390px;
}


@media screen and ( max-width:600px){
    .Room
    {
        height: 100%;
        margin-top: 50px;
        overflow-y: hidden;
    }
    .columns,.dark-columns
    {
        width: 90vw;
        padding-top:20px;
        padding-left:10px;
    }
    .columns-open,.dark-columns-open
    {
        display: none;
    }
    .video,.dark-video,.single div .video,.single div .dark-video,
    .double div .video,.double div .dark-video,.double-open div .video,
    .double-open div .dark-video,.triple div .video,.triple div .dark-video
    {
        height: 190px;
        width: 255px;
    }
    .video-name
    {
        margin-right: 100px;
    }
    
}
    
    
.alert-outer
{
    position: fixed;
    margin-left: 50px;
    bottom: 100px;
    width:300px;
    flex-wrap: wrap;
}

