.room-1-outer
{
    float:right;
    height: 100vh;
    width: 70%;
    margin-bottom: 0;
    background-color: rgb(240, 240, 240); 
    box-shadow: 0 0 10px rgb(71, 71, 71);
}
.root-chat
{
    float:left;
    width:30%;
    height: 100vh; 
    padding: 20px; 
    background-color: rgb(168, 157, 238);
    
}
.join-meet
{
    width: 30%;
    margin-top: -7px;
    font-weight: 600;
}

.show-parti
{
    width: 35%;
    margin-right: 10px;
    margin-top: -7px;
    font-weight: 600;
}
.copy-id
{
    background: none;
    border: none;
    padding: 0;
    color: white;
    padding-left: 20px;
    font-size: 30px;
    margin-top: -10px;
}
.copy-id:hover
{
    background: none;
    border: 0;
    cursor: pointer;
    color: black;
}

.hide-this
{
    display: none;
}

.chat-sidebar
{
    display: flex;
}

.chat-sidebar div button
{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}



.team-head
{
    padding:20px;
    font-size: 30px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px rgb(71, 71, 71);
}
.team-list 
{
    background-color: rgb(240, 240, 240);
    height: 75vh;
    overflow-y: scroll;
    box-shadow: 0 0 10px rgb(71, 71, 71);
}
.team-list div
{
    background-color: rgb(240, 240, 240);
    padding:15px;
    font-size: 17px;
    text-decoration: none;
}
Link
{
    text-decoration: none;
}
Link:hover
{
    text-decoration: none;
}
.team-list div:hover
{
    background-color: rgb(170, 169, 169);
}


.chat-header
{
    background-color: slateblue;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
    height: 10vh;
    box-shadow: 0 0 10px rgb(71, 71, 71);
}

.room-name
{
    font-size: 25px;
    color:white;
    font-weight: 500;
    text-transform: uppercase;
}

.room-1-form
{
    background-color: slateblue;
    height: 11vh;
    padding: 15px;
    box-shadow: 0 0 10px rgb(71, 71, 71);
}
.form-button-chat
{
    font-size: 20px;
    width: 8vw;
}

.room-1-form input
{
    margin-left: 20px;
    height: 7vh;
    outline: none;
}
.room-1-form input:focus
{
    outline: none;
}
.text-input
{
    width: 55vw;
    padding: 10px;
}



.room-1-mess
{
    height:79vh;
    overflow-y: scroll;
    padding: 20px;
}
.new-mess
{
    background-color: white;
    margin: 5px;
    padding: 20px;
    flex-wrap: wrap;
}
.name
{
    font-size: 12px;
    color:red;
}

.date
{
    color: saddlebrown;
    font-size: 12px;
}

.roomName-logo
{
    background-color:rgb(255, 0, 119) ;
    padding:10px;
    letter-spacing: 4px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 0 10px black;
}

.leave-group
{
    margin-left: 10px;
    margin-top: -10px;
}
