@import url('https://fonts.googleapis.com/css2?family=Allura&family=Crimson+Text:ital,wght@1,400;1,700&family=Dancing+Script&family=Great+Vibes&family=Mate+SC&family=Norican&family=Pacifico&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
*
{
  margin: 0;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box; 
}